*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--c-theme-primary: #008ffd;
	--c-theme-primary-accent: #cbe8ff;
	--c-bg-primary: #d6dae0;
	--c-bg-secondary: #eaebec;
	--c-bg-tertiary: #fdfdfd;
	--c-text-primary: #242424;
	--c-text-secondary: #999fa6;
}

.booking-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
}
.booking-form {
	width: 100%;
	background-color: var(--c-bg-tertiary);
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}
.bookings-header {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	padding-top: 1rem;
}
.input-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}
.input-group label {
	font-weight: 600;
	margin-bottom: 0.5rem;
}
.input-group input {
	padding: 0.5rem;
	border: 1px solid var(--c-bg-secondary);
	border-radius: 5px;
	font-size: 1rem;
	width: 100%;
}
.input-group input:focus {
	outline: none;
	border-color: var(--c-theme-primary);
}
.input-group input::placeholder {
	color: var(--c-text-secondary);
}
.input-group input:hover {
	border-color: var(--c-theme-primary-accent);
}
.input-group textarea {
	padding: 0.5rem;
	border: 1px solid var(--c-bg-secondary);
	border-radius: 5px;
	font-size: 1rem;
	width: 100%;
}
.input-group textarea:focus {
	outline: none;
	border-color: var(--c-theme-primary);
}
.input-group select {
	padding: 0.5rem;
	border: 1px solid var(--c-bg-secondary);
	border-radius: 5px;
	font-size: 1rem;
	width: 100%;
}
.input-group select:focus {
	outline: none;
	border-color: var(--c-theme-primary);
}
.checkbox-group {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.datepicker {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: var(--c-bg-primary);
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.timepicker {
	align-self: flex-end;
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	button {
		width: 150px;
		height: 2rem;
	}
}
button {
	font: inherit;
	cursor: pointer;
	&:focus {
		outline: 0;
	}
}

.datepicker {
	width: 95%;
	max-width: 100%;
	background-color: var(--c-bg-tertiary);
	border-radius: 10px;
	box-shadow: 0 0 2px 0 rgba(#000, 0.2), 0 5px 10px 0 rgba(#000, 0.1);
	padding: 1rem;
}

.datepicker-top {
	margin-bottom: 1rem;
}

.btn-group {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	margin-top: -0.5rem;
}

.tag {
	margin-right: 0.5rem;
	margin-top: 0.5rem;
	border: 0;
	background-color: var(--c-bg-secondary);
	border-radius: 10px;
	padding: 0.5em 0.75em;
	font-weight: 600;
}

.month-selector {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background-color: #fff;
	border-radius: 12px;
	width: 2.5rem;
	height: 2.5rem;
	box-shadow: 0 0 2px 0 rgba(#000, 0.25), 0 0 10px 0 rgba(#000, 0.15);
}

.month-name {
	font-weight: 600;
}

.datepicker-calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-row-gap: 1rem;
	padding-right: 150px;
	align-self: flex-end;
}
.calend {
	align-self: flex-start;
}
.day,
.date {
	justify-self: center;
}

.day {
	color: var(--c-text-secondary);
	font-size: 0.875em;
	font-weight: 500;
	justify-self: center;
}

.date {
	border: 0;
	padding: 0;
	width: 2.25rem;
	height: 2.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	font-weight: 600;
	border: 2px solid transparent;
	background-color: transparent;
	cursor: pointer;
	&:focus {
		outline: 0;
		color: var(--c-theme-primary);
		border: 2px solid var(--c-theme-primary-accent);
	}
}

.faded {
	color: var(--c-text-secondary);
}

.current-day {
	color: #fff;
	border-color: var(--c-theme-primary);
	background-color: var(--c-theme-primary);
	&:focus {
		background-color: var(--c-theme-primary-accent);
	}
}
